:root {
    --backgound-color-main: #191919;
}
footer {
    z-index: 1;
    width: 100%;
    position: fixed;
    bottom: 0;
    
}
html{
    background-color: #191919;
}
footer a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1em;
    color: white;
    background-color: rgb(0, 0, 0);
    gap: 1em;
    font-size: 0.5em;
}
.logo{
    filter: brightness(100);
    width: 60px;
    height: 60px;
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    scroll-behavior: smooth;
    color: white;
}

.wrapper {
    background-color: var(--backgound-color-main);
    min-height: calc(100vh - 76px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: all 0.3s ease-in;

}
.pictures{ 
    display: none;
    gap: 1em;
    padding: 4em 1em;
    align-items: center;
    margin-bottom: 50px;
}
#battlePictures > div{
    display: none;
}
.pictures__picture{
    width: 150px;
    height: 150px;
    border: 2px solid black;
    border-radius: 100px;
    overflow: hidden;
    transition: all 0.2s ease-in-out;
}

#newGame{
    display: none;
    color: rgb(0, 0, 0);
    background-color: #FFEA00;
    border-radius: 100px;
    padding: 1em 2em;
    font-size: 1em;
    font-weight: 600;
    text-decoration: none;
    margin-top: 2em;
    margin-bottom: 100px;
}
.pictures__picture img{
    width: 100%;
    object-fit: cover;
}

.menu {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
    background-color: rgb(34, 34, 34);
    padding: 5em;
    margin: 1em 0;
    border-radius: 40px;
   
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2em;
}

input {
    background-color: rgb(0, 0, 0);
    color: white;
    padding: 1em;
    font-size: 1em;
    border: 1px var(--backgound-color-main) solid;
    border-radius: 10px;
}

.menu__start {
    width: 200px;
    padding: 0.5em 1em;
    font-size: 1em;
    color: black;
    background-color: #FFEA00;
    border: 1px black solid;
    border-radius: 100px;
    transition: all 0.3s ease-in-out;
}

.game{
    display: none;
    flex-direction: column;
    gap: 2em;
    align-items: center;
    color: black;
}
@media (max-width:768px) {
  .menu{
    padding: 3em;
  }
  .pictures__picture {
    width: 100px;
    height: 100px;
}
@media (max-width:425px) {
  h2{
    font-size: 1em;
  }
}
@media (hover:hover){
    #pictures .pictures__picture:hover{
        transform: scale(1.1);
        cursor: pointer;
     }
    .menu__start:hover{
    
        color: rgb(255, 255, 255);
        background-color: rgb(0, 0, 0);
        border: 1px #FFEA00 solid;
       
    }

}
}